.hero-aim {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 3rem;
  padding: 9.6rem 0;
  height: 77.6rem;
  position: relative;
}
.hero-img-box-aim {
  height: 28rem;
  width: 28rem;
  display: flex;
  margin-bottom: 2rem;
}
.icon-aim {
  font-size: 20rem;
  margin: 0 auto;
  align-self: center;
  justify-self: center;
}
.hero-text-box-aim {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.hero-title-aim {
  font-size: 9rem;
  margin-bottom: 2rem;
}
.hero-text-aim {
  font-size: 2.5rem;
}
.btn-hero-box-aim {
  display: flex;
  gap: 4rem;
}
.btn-hero-aim-ss:link,
.btn-hero-aim-ss:visited {
  background-color: #205f77;
  color: #e6e6e6;
  transition: all 0.5s;
  box-sizing: border-box;
  height: 7.5rem;
}

.btn-hero-aim-ss:active,
.btn-hero-aim-ss:hover {
  background-color: #308fb2;
  box-shadow: inset 0 -0.3rem 4.6rem -1.2rem #0226489a;
}

.btn-hero-aim-ta:link,
.btn-hero-aim-ta:visited {
  background-color: #e6e6e6;
  color: #205f77;
  transition: all 0.5s;
  box-sizing: border-box;
  height: 7.5rem;
}

.btn-hero-aim-ta:active,
.btn-hero-aim-ta:hover {
  background-color: #cccccc;
  box-shadow: inset 0 -0.3rem 4.6rem -1.2rem #0226489a;
}

.icon-targ {
  font-size: 12rem;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 400, 400, 0, 1);
}

.rem {
  position: absolute;
  top: 2rem;
  font-size: 5rem;
  color: white;
}

.num {
  font-size: 5rem;
  color: white;
}

.hero-img-box-flex-col {
  height: 28rem;
  width: 28rem;
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}

.avg-hero-text-aim {
  margin-top: 1rem;
  margin-bottom: 2rem;
  align-self: center;
  justify-self: center;
  font-size: 2.5rem;
}

.hero-text-box-final-aim {
  text-align: center;
}

.hero-title-final-aim {
  font-size: 9.5rem;
  margin-bottom: 3rem;
}

.mg-ht {
  margin-bottom: 5rem;
}

.hidden {
  display: none;
}

.final-aim {
  grid-template-rows: 33rem 23rem 1fr;
}
